[submodule "officials/gemini-skills"]
	path = officials/gemini-skills
	url = https://github.com/google-gemini/gemini-skills
[submodule "officials/claude-skills"]
	path = officials/claude-skills
	url = https://github.com/anthropics/skills
[submodule "officials/openai-skills"]
	path = officials/openai-skills
	url = https://github.com/openai/skills
[submodule "officials/microsoft-skills"]
	path = officials/microsoft-skills
	url = https://github.com/microsoft/skills
